DB_NAME=osint_platform
DB_USER=osint_user
DB_PASSWORD=change_me
DB_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
DEBUG=True
SECRET_KEY=change_me
ALLOWED_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://redis:6379
SHODAN_API_KEY=
VIRUSTOTAL_API_KEY=
SECURITYTRAILS_API_KEY=
CENSYS_API_ID=
CENSYS_API_SECRET=
HIBP_API_KEY=
DEHASHED_EMAIL=
DEHASHED_API_KEY=
URLSCAN_API_KEY=
